input {
    width: 100%;
    line-height: 1.5em;
    font-size: 18px;
    display: block;
    box-sizing: border-box;
    padding: 0.25rem 1rem 0.25rem 1rem; 
    border-radius: 5px;
}
input:focus {
  outline: none !important;
  border: 2px solid black;
}

.invalidUsername {
    font-size: 0.8em;
    font-weight: bold;
    color: #DC1616;
    font-family: 'Fidelity Sans', 'Arial', sans-serif;
    text-align: center;
}

input[type=text]:focus {
    outline: none !important;
   
    
  }

  input[type=text] {
    outline: none !important;
   
    
  }