.pageForm {
    max-width: 100%;
    margin: auto;
    overflow-x: hidden;
  }
  
  #form {
    margin: 4em 1em;
  }
  
  #footer {
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 5px;
    width: 99%;
  }