<div class="form">
    <div style="margin-bottom: 1.5rem">
        <sc-username-form-control (usrVerify)="displayUserName($event)">
        </sc-username-form-control>
    </div>

    <div style="margin-bottom: 1.5rem">
        <sc-password-form-control (pwdVerify)="displayPassword($event)">
        </sc-password-form-control>
    </div>

    <div style="margin-bottom: 1.5rem">
        <app-button  (click)="submit()"> </app-button>
    </div>

    <div style="text-align: center">
        <app-link> </app-link>
    </div>
</div>